* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
}

h1 {
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}