* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    left: 10%;
    background: rgb(27, 27, 27);
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-text {
    font-size: 3em;
    color: rgb(219, 219, 219);
}

.wrapper .dynamic-texts {
    margin-left: 15px;
    height: 54px;
    line-height: 55px;
    overflow: hidden;
}

.dynamic-texts li {
    list-style: none;
    font-size: 3em;
    font-weight: 500;
    color: rgb(94, 94, 94);
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -220px;
    }
}

.dynamic-texts li span {
    position: relative;
}

.dynamic-texts li span::after {
    content: "";
    position: absolute;
    left: 0;
    background: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
    border-left: 2px solid rgb(94, 94, 94);
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}